<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EquipmentManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EquipmentManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        
    </header>
    <main role="main" class="container-fluid main-content d-flex flex-column justify-content-center align-items-center flex-grow-1 bg-transparent">
        @RenderBody()
    </main>

    <footer class="border-top text-muted">
        <div class="container text-center">
            &copy; 2022 - EquipmentManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
