@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" >
    <h1 class="display-4">Witaj w Equipment Management system!</h1>
    <button type="button" class="btn btn-primary btn-lg">@Html.ActionLink("Produkty", "Index", "Products")</button>
</div>
