@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Witaj w aplikacji</h1>
    <p>Nacisnij przycisk by zacząć</p>
    @Html.ActionLink("Produkty", "Index", "Products",null,new {@class="btn btn-primary btn-lg"})
</div>
