@{
    ViewData["Title"] = "Home Page";
}

<body>background="~/images/background.png">
<div class="text-center">
    <h1 class="display-4">Witaj w Equipment Management system!</h1>
    <button type="button" class="btn btn-primary btn-lg"> @Html.ActionLink("Produkty", "Index", "Products")</button>
</div>
</body>